<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="Meter1" value="CPU" />
    <add key="Meter1Hue" value="32" />
    <add key="Meter1Color" value="Orange" />
    <add key="Meter2" value="MEM" />
    <add key="Meter2Hue" value="224" />
    <add key="Meter2Color" value="Magenta" />
    <add key="Meter3" value="NET" />
    <add key="Meter3Hue" value="160" />
    <add key="Meter3Color" value="Cyan" />
    <add key="Meter4" value="TEMP" />
    <add key="Meter4Hue" value="64" />
    <add key="Meter4Color" value="Yellow" />
    <add key="COM" value="COM5" />
    <add key="RATE" value="115200" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
